// Navigation link styles

// Navigation link styles
.navbar a {
    font-size: 28px;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;

    &:hover,
    &:active {
        color: var(--main-color);
    }
}