.projects {
    background: var(--second-bg-color);
    padding: 4rem 0;

    .heading {
        text-align: center;
        font-size: 28px;
        margin-bottom: 4rem;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;
    }

    .col-lg-4,
    .col-md-6,
    .col-sm-12 {
        padding: 0 1.5rem;
    }

    .card {
        position: relative;
        border-radius: 2rem;
        box-shadow: 0 0 1rem var(--bg-color);
        overflow: hidden;
        display: flex;
        color: black;

        .card-img-top {
            width: 100%;
            transition: 0.5s ease;
        }

        .card-body {
            padding: 2rem;

            .card-title {
                font-size: 3rem;
            }

            .card-text {
                font-size: 1.6rem;
                margin: 0.3rem 0 1rem;
            }
        }
    }
}